body{
    background-image: url(https://cdn.cdnparenting.com/articles/2020/11/14164658/319171217-696x476.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    

}