body{
  margin: 0px;
  padding: 0px;
  
  font-family: 'Times New Roman', Times, serif;
}
.item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 400px;
    margin-left: 500px;
    font-weight: bold;
    font-size: xx-large;
    color:maroon;
    margin-top: 60px;
    

    background-image: url(https://cdn.cdnparenting.com/articles/2020/11/14164658/319171217-696x476.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}
.year, .month, .date{
    margin-bottom: 24px;
}
.button{
    margin-top: 22px;
    
}
h1{
    background-color: rgb(63, 95, 63);
    padding: 8px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
p{
    display: flex;
    width: 330px;
    align-items: center;
    border: 1px solid grey;
    margin-left: 22px;
    position: absolute;
    color: wheat;
    font-size: 18px;
    background-color: black;
    margin-top: 0px;

}
a{
    position: absolute;
    width: 140px;
    margin-top: 126px;
    margin-left: 186px;
    color: maroon;
    text-decoration: none;
    background-attachment: fixed;
   
}
p a:hover{
text-decoration: underline;
color: goldenrod;
}
img{
    position: fixed;
    height: 420px;
    width: 360px;
    margin-top: 180px;
}
.header{
    display: flex;
    position: absolute;
    margin-left: 540px;
    margin-top: 0px;
    align-items: center;
}
.outcome{
    
    margin-left: 540px;
    font-size: 32px;
    padding-bottom: -300px;
    color: maroon;
    font-weight: bold;
}